body {
    color : black;
    background: lightblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: red;
}

table {
    margin: 0 auto;
    background: gray;
}

button.restart {
    text-align: center;
    margin: 10px auto;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    color : white;
    background: rgb(126, 126, 126);
}

.revealed {
    background: blue;
}

.mine {
    background: black!important;
    border-radius: 50%;
}

.flag {
    background: red;
}

.display {
    color: black;
    margin: 10px auto;
}

.game-over {
    color: red;
    font-size: 50px;
}

.hide {
    display: none;
}
