body {
    color : black;
    background: lightskyblue;
    text-align: center;
    font-family: 'Bowlby One SC', cursive, sans-serif;
}

h1 {
    color: rgb(57, 32, 168);
}

table {
    margin: 0 auto;
    background: lightblue;
}

button.restart, select {
    text-align: center;
    margin: 10px auto;
    color: rgb(57, 32, 168);
    background: lightskyblue;
    border-radius: 50px;
    border: 4px solid rgb(57, 32, 168);
    font-family: 'Bowlby One SC', cursive, sans-serif;
}

td {
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    color : white;
    background: aliceblue;
    font-size: 18px;
}

.revealed {
    background: blue;
}

.mine {
    background: black!important;
    border-radius: 50%;
}

.flag {
    color: rgb(50, 50, 107);
}

.display {
    color: black;
    margin: 10px auto;
}

.game-over {
    color: red;
    font-size: 50px;
}

.game-over {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.win, .lose{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
 
.hide {
    display: none;
} 